<div class="d-flex-flex-row bd-highlight mb-3">
<div class="form-group row" style="width:60%;">
    <label class="col-sm-2 col-form-label"> Employee Name</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="enter emp name">
    </div>
    <label class="col-sm-2 col-form-label">Department</label>
    <div class="col-sm-10">
        <select class="form-control" [(ngModel)]="Department" placeholder="enter emp name">
            <option>---select---</option>
            <option *ngFor="let depName of DepartmentsList">
                {{depName.DepartmentName}}
            </option>
        </select>
    </div>
    <label class="col-sm-2 col-form-label">Date Of joining</label>
    <div class="col-sm-10">
        <input type="date" [(ngModel)]="DateOfJoining">
    </div>
</div>
<div class="ml-3 bd-highlight" style="width:40%;">
<img [src]="url" height="250px;" width="200px;" *ngIf="emp.EmployeeId!=0">
<!-- <img [src]="url2" height="250px;" width="200px;" *ngIf="emp.EmployeeId==0"> -->
<!-- <input type="file" (change)="uploadPhoto($event)" class="mt-2"/> -->
<input type="file" name="PhotoFilePath" (change)="uploadPhoto($event.target.files)" class="mt-2"/>
</div>
</div>
<button (click)="addEmployee()" *ngIf="emp.EmployeeId==0" data-dismiss="modal" class="btn btn-primary">add</button>
<button (click)="updateEmployee()" *ngIf="emp.EmployeeId!=0" data-dismiss="modal" class="btn btn-primary">update</button>