<!-- Button trigger modal -->
<button type="button" class="btn btn-primary float-right mt-2" data-toggle="modal" data-dismiss="modal" data-target="#exampleModal"
(click)="addClick()" data-backdrop="static" data-keyboard="false">
    Add Employee
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeClick()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-add-edit-emp [emp]="emp" *ngIf="ActivateAddEditEmpComp"></app-add-edit-emp>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th>EmployeeID</th>
        <th>EmployeeName</th>
        <th>Department</th>
        <th>DateOfJoining</th>
        <!-- <th>PhotoFileName</th> -->
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tabledata of EmployeeList">
        <td>{{tabledata.EmployeeId}}</td>
        <td>{{tabledata.EmployeeName}}</td>
        <td>{{tabledata.Department}}</td>
        <td>{{tabledata.DateOfJoining}}</td>
        <!-- <td>{{tabledata.PhotoFileName}}</td> -->
        <td>
            <button type="button" class="btn btn-primary float-right mt-2" data-toggle="modal" data-target="#exampleModal"
            (click)="editClick(tabledata)" data-dismiss="modal" data-backdrop="static" data-keyboard="false">Edit</button>
            <button type="button" class="btn btn-primary float-right mt-2"
            (click)="deleteClick(tabledata)"  data-backdrop="static" data-keyboard="false">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>